{% set title = "About Us" %}
{% extends '_layout.njk' %}
{% block main %}
    <div class="hero pt-10">
        <div class="hero-content text-center">
            <div class="max-w-lg">
                <h1 class="text-5xl font-bold">About Us</h1>
                <p class="py-6 prose">
                    Amplio is a nonprofit organization with a mission to empower the world's most vulnerable communities through knowledge
                    sharing.
                </p>
                {# <button class="btn btn-primary">Get Started</button> #}
            </div>
        </div>
    </div>
    <div class="hero">
        <img
            src="/images/Samburu.jpg"
            class="object-fill md:min-w-full md:h-[50rem]"
            alt="Samburu 1200x630.jpg"
            fetchpriority="high"/>
    </div>
    <div class="hero min-h-8 py-12">
        <div class="hero-content flex-col lg:flex-row md:w-2/3">
            <div class="text-left mr-12 prose md:w-3/5">
                <h2>Bridging the knowledge gap</h2>
                <p>
                    Amplio was founded in 2007 to address global poverty by creating simple, cost-effective, technology-based solutions to
                    empower low-literate people with access to knowledge. We focus on reaching the most marginalized and underserved
                    populations in remote rural areas. Together with our partners and supporters, we deliver programs across many sectors,
                    including agriculture, health, education, and women's empowerment.
                </p>
                <br/>
                <a href="/technology">LEARN ABOUT OUR TECHNOLOGY</a>
            </div>
            <div class="container bg-[#f2faff] text-center p-7 md:w-2/5 ">
                <span class="text-[#f3714f] font-bold text-3xl block">47</span>
                <span class="block">Projects</span>
                <span class="text-[#f3714f] font-bold text-3xl block mt-5">2,066,428</span>
                <span class="block">People Reached</span>
                <span class="text-[#f3714f] font-bold text-3xl block mt-5">14</span>
                <span class="block">Countries</span>
            </div>
        </div>
    </div>
    {%
        set values = [
            {"title": "PARTNERSHIP",
             "desc": "Through teamwork and collaboration, we more effectively reach and serve the world’s most vulnerable communities",
              "link": "/partners", "alt": "GLOBAL PARTNERS"   },
            {"title": "RESPONSIBLITY",
             "desc": "We honor a commitment to continually improve our products and services to ensure partner and program success.",
              "link": "/partners", "alt": "OUR TECHNOLOGY"   },
            {"title": "RESPECT",
             "desc": "We listen closely to the voices and views of others, especially those whom we serve, and value their feedback.",
              "link": "/partners", "alt": "USER FEEDBACK"   },
            {"title": "TRANSPARENCY",
             "desc": "We communicate openly, share information, and challenge each other’s thinking and expectations to build trust.",
              "link": "/partners", "alt": "FINANCIALS AND REPORTS"   },
            {"title": "LEARNING",
             "desc": "Individually and as a team, we try new ideas, learn from our successes and failures, and share what we learn with others.",
              "link": "/partners", "alt": "WEBINARS"   }
            ]
    %}
    <div class="hero min-h-8 md:px-96">
        <div class="hero-content">
            <div>
                <h2 class="text-5xl font-bold  text-center">Our Values</h2>
                <p class="py-6 text-center w-full">
                    In our strategic planning and day-to-day work, we keep our values in mind and at heart.
                </p>
                <div class="grid md:grid-cols-3 grid-cols-1 justify-items-center">
                    {% for v in values %}
                        <div class="prose container border-solid border-2 m-4 border-[#a7def2] p-5 w-[16rem] justify-center">
                            <h4 class="text-lg font-bold  text-center text-[#55caf5]">{{ v.title }}</h4>
                            <p class="text-center">{{ v.desc }}<br/>
                                <a href="{{ v.link }}" class="pt-2 block">{{ v.alt }}</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
