{% set home = "Home" %}
{% extends '_layout.njk' %}
{% block main %}
  <!DOCTYPE html>
  <html>
    <body style="background-color:white;">
      <div class="hero">
        <img src="/images/amplio-home.webp" width="2000"/>
      </div>
      <div class="hero pt=10">
        <div class="hero-content text-center">
            <div class="max-w-lg">
                <h1>AMPLIO TALKING BOOK PROGRAM</h1>
                <h1 class="text-5xl font-bold">Share Knowledge</h1>
                <h1 class="text-5xl font-bold">through audio</h1>
                <h1 class="text-5xl font-bold">technology</h1>
            </div>
        </div>
      </div>
      <div class="hero bg-white">
        <div class="hero-content text-center">
          <div class="max-w-96">
            <p class="text-black font-bold">For people in rural communities, there's a growing</p>
            <p class="text-black font-bold">digital divide. We have a way to reach them.</p>
          </div>
        </div>
      </div>
      <div class="bg-white">
        <div class="text-center">
          <div class="">
            <p class="text-black">Amplio is on a mission to reach the world's most vulnerable communities through</p>
            <p class="text-black">inclusive digital technology and knowledge sharing. Nearly 800 million people in the </p>
            <P class="text-black">world can't read or write. Most of them are women and girls. </p>
            <div class="mt-6 ..."></div>
            <p class="text-black">Our <a href="url" class="text-blue-600 underline">Talking Book technology</a>, 
            <a href="url" class="text-blue-600 underline">services</a>, and 
            <a href="url" class="text-blue-600 underline">partnerships</a> help close the digital divide,</p>
            <p class="text-black">share vital information, and unlock potential for people who are often left behind.</p>
          </div>
        </div>
      </div>
      <div class"bg-white">
        <div class="bg-white">
          <div class="row" style="padding-left: 550px;">
            <div class="bg-white" style="float: left; padding: 5px;"> <!--width: 33.33%;-->
              <div class="mt-10"></div>
              <img src="/images/home-projects.webp" style="border-radius: 50%;">
              <p style="display:inline-block;">
                <p class="text-red-400 text-4xl font-bold text-center">47</p>
                <p class="text-black text-center">Projects</p>
              </p>
            </div>
            <div class="bg-white" style="float: left; padding: 5px; padding-left: 150px;">
              <div class="mt-10"></div>
              <img src="/images/home-Woman-on-BG-with-device.webp" style="border-radius: 50%;">
              <p style="display:inline-block;">
                <p class="text-red-400 text-4xl font-bold text-center">2,066,428</p>
                <p class="text-black text-center">People reached</p>
              </p>
            </div>
            <div class="bg-white" style="float: left; padding: 5px; padding-left: 130px;">
              <div class="mt-10"></div>
              <img src="/images/home-countries.webp" style="border-radius: 50%;">
              <p style="display:inline-block;">
                <p class="text-red-400 text-4xl font-bold text-center">14</p>
                <p class="text-black text-center">Countries</p>
              </p>
            </div>
            <div style="content: ''; clear: both; display: table;"></div>
          </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="text-center">
          <div class="mt-10">
            <button class="btn btn-accent btn-outline">SEE OUR IMPACT</button>
          </div>
        </div>
      </div>
      <div class="hero pt=10">
        <div class="text-center ">
          <div class="max-w-lg mt-10">
            <p class="text-2xl font-bold text-black" style="padding-left: 150px">An Inclusive Digital Solution</p>
          </div>
          <div class="mt-5">
            <p>The Amplio Talking Book is an easy-to-use audio device designed for people with </p>
            <p>low literacy skills. It delivers hours of content on-demand, in any language. </p>
          </div>
          <div class="mt-20">
            <img src="/images/TBV2_3colors.webp" width="700"/>
          </div>
          <div class="mt-20">
            <button class="btn btn-accent btn-outline">SEE OUR TECHNOLOGY</button>
          </div>
          <div class="mt-20">
            <p></p>
          </div>
        </div>
      </div>
      <div class="hero pt=10">
        <div class="text-center">
          <div class="mt-10" style="padding-left: 150px;">
            <img src="/images/UNICEF_Logo.webp" width="300" />
          </div>
          <div class="mt-10">
            <p class="text-black text-2xl">“An innovative technology to influence behaviors </p>
            <p class="text-black text-2xl">that impact the lives and opportunities of the world's</p>
            <p class="text-black text-2xl">most vulnerable children and their families.”</p>
          </div>
          <div class="mt-10">
            <p class="text-black">Susan Ngongi Namondo, United Nations Diplomat</p>
            <p class="text-black">and former UNICEF Representative to Ghana</p>
          </div>
          <div class="mt-20">
            <p></p>
          </div>
        </div>
      </div>
    </body>
  </html>
  
  <!--<h1 style="padding: 200px;">AMPLIO TALKING BOOK PROGRAM</h2>-->
{% endblock %}
